<p>
  Hey,
</p>
<p>
  Good news! One of your friends has signed up to The Organic Lube Company VIP Pre-Launch email list.
</p>
<%
  count = 5 - @user.referrals.count
  message = "You only have #{count} more to go to win a prize!"
%>
<p>
  <%= message %>
</p>
<p>
Keep sharing your unique referral URL
</p>
<p>
  <%= url_for(controller: 'users', action: 'new', :ref => @user.referral_code) %>
</p>
<p>
  Happy shagging,
</p>
<p>
  Team TOLC
</p>