<p>
  Hey,
</p>
<p>
  Welcome to The Organic Lube Company (TOLC for short). Thanks for signing up and becoming part of our elite group of pre-launch VIP customers.
</p>
<p>
  We created The Organic Lube Company to help make sex feel better inside and outside your body. A 100% natural personal lubricant made with organic ingredients. No parabens. No glycerin. No more nasty chemicals on your private parts.
</p>_
<p>
  As a VIP, you can help us share our story and score some free TOLC lube. All you have to do is tell your friends about us!
</p>
<p>
  Simply share this unique link
</p>
<p>
  <%= url_for(controller: 'users', action: 'new', :ref => @user.referral_code) %>
</p>
<p>
  on Facebook, via email or anywhere on the web and for every person that signs up, you'll win some sweet gear.
</p>
<p>
  Help your friends make sex feel better inside and out. Visit <%= link_to 'our website', url_for(controller: 'users', action: 'new') %> to learn more.
</p>
<p>
  Happy shagging,
</p>
<p>
  Team TOLC
</p>