<header>
    <img class="mobile-logo" src="<%= asset_path( 'home/mobile/tolc_logo_header.png' ) %>">
</header>

<div class="mobile-text">
    <h1>
        GOOD CLEAN LOVING.<br>NO NASTY CHEMICALS
    </h1>
</div>

<img class="first-image" src="<%= asset_path( 'home/desktop/droplet.png' ) %>">
<img class="second-image" src="<%= asset_path( 'home/desktop/tolc_logo.png' ) %>">

<div class="desktop-text">
    <h1>
        GOOD CLEAN LOVING.<br>NO NASTY CHEMICALS
    </h1>

    <div class="surprise-text">
        <p>
            Be the first to own The Organic Lube Company's sexy new lube. You might even get a freebie :-)
        </p>
    </div>
</div>

<div class="mobile-text">
    <p>BE THE FIRST TO TRY IT</p>
</div>

<div class="form-wrap">
    <%= form_for @user, :url => { :action => "create" } do |f| %>
        <%= f.text_field :email, :placeholder => "Enter Your Email", :class => "email" %>
        <input class="submit" name="commit" type="submit" value="GIMME LUBE" />
    <% end %>
</div>

<div class="social-footer">
    <div class="preload-instagram"></div>
    <div class="preload-facebook"></div>
    <div class="preload-twitter"></div>
    <a href="https://www.instagram.com/theorganiclubeco/" class="instagram" target='_blank'></a>
    <a href="https://www.facebook.com/The-Organic-Lube-Company-520548948017982/?fref=ts" class="facebook" target='_blank'></a>
    <a href="https://twitter.com/organiclubeco" class="twitter" target='_blank'></a>

    <div class="copyright">
        <p>Made with ♥ in Bondi by <a href="http://www.bigrichard.co">Big Richard</a>. &copy; Copyright 2016 organiclube.co</p>
    </div>
    <div class='policies'>
        <p>
            <a href="/privacy-policy" class='privacy'> Privacy </a> |
            <a href="/terms-and-conditions" class='conditions'> Terms </a>
        </p>
    </div>
</div>