.privacy-policies  
  h2
    | Privacy policy
  p
    | This following document sets forth the Privacy Policy for the Big Richard Industries P/L website for The Organic Lube Company, &nbsp
    a href='/'
      | www.organiclube.co
  p
    | Big Richard Industries P/L is committed to providing you with the best possible customer service experience. Big Richard Industries P/L is bound by the Privacy Act 1988 (Crh), which sets out a number of principles concerning the privacy of individuals.
  h4
    | Collection of your personal information
  p
    | There are many aspects of the site which can be viewed without providing personal information, however, for access to future Big Richard Industries P/L customer support features you are required to submit personally identifiable information. This may include but not limited to a unique username and password, or provide sensitive information in the recovery of your lost password.
  h4
    | Sharing of your personal information
  p
    | We may occasionally hire other companies to provide services on our behalf, including but not limited to handling customer support enquiries, processing transactions or customer freight shipping. Those companies will be permitted to obtain only the personal information they need to deliver the service. Big Richard Industries P/L takes reasonable steps to ensure that these organisations are bound by confidentiality and privacy obligations in relation to the protection of your personal information.
  h4
    | Use of your personal information
  p
    | For each visitor to reach the site, we expressively collect the following non-personally identifiable information, including but not limited to browser type, version and language, operating system, pages viewed while browsing the Site, page access times and referring website address. We also, at times, may collect your email address, such as when you make a purchase from us. This collected information is used solely internally for the purpose of gauging visitor traffic, trends and delivering personalized content to you while you are at this Site. By submitting your email address to us, you are lawfully allowing us to send you marketing communications. We’re not crazy, we won’t send you emails day and night, but we will send you worthwhile communications from time to time. We will never spam you nor sell or lease your email address to anyone else.
  p
    | From time to time, we may use customer information for new, unanticipated uses not previously disclosed in our privacy notice. If our information practices change at some time in the future we will use for these new purposes only, data collected from the time of the policy change forward will adhere to our updated practices.
  h4
    | Changes to this Privacy Policy
  p
    | Big Richard Industries P/L reserves the right to make amendments to this Privacy Policy at any time. If you have objections to the Privacy Policy, you should not access or use the Site.
  h4
    | Accessing Your Personal Information
  p
    | You have a right to access your personal information, subject to exceptions allowed by law. If you would like to do so, please let us know. You may be required to put your request in writing for security reasons. Big Richard Industries P/L reserves the right to charge a fee for searching for, and providing access to, your information on a per request basis.

  h4
    | Contacting us
  p
    | Big Richard Industries P/L welcomes your comments regarding this Privacy Policy. If you have any questions about this Privacy Policy and would like further information, please contact us by any of the following means during business hours Monday to Friday.
  p.text-center
    | Post: Attn: Privacy Policy,
    br
    | Big Richard Industries P/L,  23/520 Oxford St Bondi Junction, NSW 2026, Australia.
    br
    | E-mail: privacy policy at organiclube dot co.

css:
  .privacy-policies {
    padding: 15px;
  }
  .privacy-policies h2 {
    font-size: 30px;
    font-weight: bold;
  }

  .privacy-policies h4 {
    font-size: 20px;
    font-weight: bold;
  }

  .privacy-policies p {
    margin-bottom: 10px;
  }