<header>
    <img class="mobile-logo" src="<%= asset_path( 'refer/mobile/tolc_logo_header.png' ) %>">
</header>

<div class="banner">
    <img class="first-image" src="<%= asset_path( 'refer/desktop/tolc_logo_white.png' ) %>">
    <div class="message">
        THANK YOU FOR SIGNING UP
    </div>
    <div class="second-message">
        KNOW SOMEONE ELSE WHOSE BEEN A BIT<br>"DRY" IN THE BEDROOM LATELY?
    </div>
    <div class="third-message">
        Share the link below with as many friends as you can and receive more rewards. Don’t let your friends miss out.
    </div>
    <div class="social-wrap">
        <div class="copy-link"><%= root_url %>?ref=<%= @user.referral_code %></div>
        <% url = "#{root_url}?ref=#{@user.referral_code}" %>
        <div class="social">
            <a href="mailto:?subject=Organic Lube Company&amp;body=Hi%20Friends!%0D%0A%0D%0ASince%20I%20love%20you,%20I'm%20sending%20you%20a%20link%20to%20the%20pre-launch%20website%20of%20The%20Organic%20Lube%20Company.%20They%20have%20a%20slick%20new%20range%20of%20Organic%20Lube%20and%20if%20you're%20quick,%20you%20can%20sign%20up%20now%20and%20get%20a%20free%20pack.%20Thought%20you%20might%20like%20it...%20everyone%20loves%20a%20freebie%20;-)%0D%0A%0D%0A<%= url %>%0D%0A%0D%0Aps...%20get%20in%20quick.%20There's%20even%20a%20mystery%20sex%20toy%20if%20you're%20good." class="share-ma"></a>
            <a href="http://twitter.com/share?url=<%=url%>&text=Cool..+just+scored+a+%23freeSample+of+new+TOLC+Organic+Lube%20%23lube%20%23free%20%23organic.+Get+yours+->" class="share-tw" target="_blank"></a>
            <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=The Organic Lube" class="share-fb" target="_blank"></a>
        </div>
    </div>
</div>

<% 
    referrals_count = @user.referrals.count
    stops = User::REFERRAL_STEPS
    found = nil
    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
        else
            stop["selected"] = false
        end
    }
 %>
<div id="check" class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
        <div class="explanation">HERE'S HOW IT WORKS:</div>
        <ul class="products">
            <li class="title"><p class="friends">Friends Joined</p><p class="rewards">Organic Lube</p></li>
            <% stops.each do |stop| %>
                <li class="product<% if stop["selected"] %><% end %> <% if stop["class"] == 'five' %>last<% end %>">
                    <div class="circle"><%= stop["count"] %></div>
                    <div class="sep"></div>
                    <div class="prize-name"><%= stop["html"].html_safe %></div>
                </li>
            <% end %>
        </ul>

        <div class="progress">
            <div class="mover">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>

<div class="social-footer">
    <div class="preload-instagram"></div>
    <div class="preload-facebook"></div>
    <div class="preload-twitter"></div>
    <a href="https://www.instagram.com/theorganiclubeco/" class="instagram" target='_blank'></a>
    <a href="https://www.facebook.com/The-Organic-Lube-Company-520548948017982/?fref=ts" class="facebook" target='_blank'></a>
    <a href="https://twitter.com/organiclubeco" class="twitter" target='_blank'></a>

    <div class="copyright">
        <p>Made with ♥ in Bondi by <a href="http://www.bigrichard.co">Big Richard</a>. &copy; Copyright 2016 organiclube.co</p>
    </div>
    <div class='policies'>
        <p>
            <a href="/privacy-policy" class='privacy'> Privacy </a> |
            <a href="/terms-and-conditions" class='conditions'> Terms </a>
        </p>
    </div>
</div>