@import "reset";
@import "bootstrap";

@font-face {
  font-family: 'newsgoth';
  src:url(asset-path('newsgoth.ttf'));
  font-weight: normal;
  font-style: normal;
}
@import "home";
@import "refer";
@import "home_mobile";
@import "refer_mobile";