@import 'variables'
@import 'mixins'

.blog-page
  .content-body
    min-height: 100vh
    .topbar
      padding-top: 10px
      @include media-less-than($mobile-width)
        height: 85px
      @include media-greater-than($mobile-width)
        height: 110px
      .app-logo
        @include media-less-than($mobile-width)
          padding-left: 10px
        @include media-greater-than($mobile-width)
          padding-left: 45px
        .logo
          @include media-less-than($mobile-width)
            background: url(asset-path('layout/blog_logo1x.png')) center top no-repeat
            width: 85px
            height: 85px
            background-size: 85px 85px
          @include media-greater-than($mobile-width)
            background: url(asset-path('layout/blog_logo2x.png')) center top no-repeat
            width: 110px
            height: 110px
            background-size: 110px 110px
          display: inline-block
      .contacts
        @include media-less-than($mobile-width)
          line-height: 85px
          font-size: 10px
        @include media-greater-than($mobile-width)
          font-size: 12px
          line-height: 110px
        font-family: newsgoth
        float: right
        a
          color: #1C1E21
          text-decoration: none
        span.free-condom, span.about
          @include media-less-than($mobile-width)
            margin-right: 10px
          @include media-greater-than($mobile-width)
            margin-right: 45px
        span.contact
          @include media-less-than($mobile-width)
            margin-right: 10px
          @include media-greater-than($mobile-width)
            margin-right: 60px
    .blogs
      @include media-less-than($mobile-width)
        padding: 10px
      @include media-greater-than($mobile-width)
        padding: 10px 45px
  footer
    .social-footer
      .instagram, .facebook, .twitter
        width: 40px
        height: 40px
        display: inline
        margin-right: 30px
        margin-left: 30px
        img
          width: inherit
          height: inherit
        img:hover
          cursor: pointer
    .policies
      color: #9B9B9B
      margin-top: 10px
      font-size: 12px
      font-family: ProximaNova-Regular
      a
        color: #9B9B9B
        text-decoration: none