@media only screen and (max-width: 500px) {
  #home header {
    width: 100%;
    height: 84px;
    background-color: #009fd8;
  }

  #home .mobile-logo {
    display: block;
    margin: 0 auto 0 auto;
    padding: 8px;
  }

  #home .desktop-text {
    display: none;
  }

  #home .mobile-text {
    display: initial;
  }

  #home h1 {
    margin-top: 42px;
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 45px;
    text-align:center;
  }

  #home .first-image {
    display: block;
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
    width: 72px;
    height: 140px;
  }

  #home .second-image {
    display: block;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 140px;
  }

  #home .mobile-text p {
    margin-top: 19px;
    font-size: 14px;
    line-height: 17px;
    text-align:center;
  }

  #home form {
    margin: 26px auto 0px auto;
    background: #FFFFFF;
    width: 345px;
    height: 38px;
  }

  #home form .email {
    font-size: 14px;
    width: 289px;
    padding: 0px 0px 0px 11px;
    border: 1px solid #D6D7D8;
    border-right: none;
    border-radius: 2px;
    height: 38px;
    margin-bottom: 0px;
    box-shadow: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius:0px;
  }

  #home form .submit {
    text-indent: 100%;
    white-space: nowrap;
    float: right;
    position: absolute;
    width: 45px;
    height: 40px;
    background: url(asset-path('home/mobile/action_button.png'));
    border-radius: 0;
    background-size: 45px 40px;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  #home form .submit:hover {
    background: url(asset-path('home/mobile/action_button_activate.png'));
    background-size: 45px 40px;
  }

  #home .social-footer {
    width: auto;
    height: 263px;
    margin: 50px auto auto auto;
    text-align: center;
    background: url(asset-path('home/mobile/footer.png'));
    background-size: auto auto;
  }

  #home .social-footer .instagram {
    width: 39px;
    height: 38px;
    display: inline-block;
    background: transparent url(asset-path('home/mobile/instagram_icon.png')) center top no-repeat;
    background-size: 39px 38px;
    margin: 100px auto auto auto;
  }

  #home .social-footer .facebook {
    width: 39px;
    height: 38px;
    display: inline-block;
    background: transparent url(asset-path('home/mobile/facebook_icon.png')) center top no-repeat;
    background-size: 39px 38px;
    margin-left: 29px;
    margin-right: 29px;
  }

  #home .social-footer .twitter {
    width: 39px;
    height: 38px;
    display: inline-block;
    background:transparent url(asset-path('home/mobile/twitter_icon.png')) center top no-repeat;
    background-size: 39px 38px;
  }

  #home .copyright {
    margin-top: 24px;
    font-family: OpenSans-Light;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 17px;
    text-align: center;
  }

  #home .copyright a {
    color: #FFFFFF;
    text-decoration: none;
  }

  #home .copyright a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 635px) and (min-width: 500px) {
  #home form {
    margin: 26px auto 0px auto;
    background: #FFFFFF;
    width: 400px;
    height: 38px;
  }

  #home form .email {
    font-size: 14px;
    width: 250px;
    padding: 0px 0px 0px 11px;
    border: 1px solid #D6D7D8;
    border-right: none;
    border-radius: 0;
    height: 38px;
    margin-bottom: 0px;
  }

  #home form .submit {
    float: right;
    background: #009FD8;
    width: 139px;
    height: 40px;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    border: none;
  }

  #home form .submit:hover {
    background: #3DB6E1;
  }
}