html.home {
	background: #FFFFFF;
	font-family: 'newsgoth';
}

#home {
	padding-bottom: 0px;
	color: #1C1E21;
}

#home .mobile-text {
  display: none;
}

#home .first-image {
	display: block;
	margin-top: -33px;
	margin-left: auto;
	margin-right: auto;
	width: 72px;
	height: 140px;
}

#home .second-image {
	display: block;
	margin-top: 18px;
	margin-left: auto;
	margin-right: auto;
	width: 160px;
	height: 140px;
}

#home h1 {
	margin-top: 42px;
	font-size: 36px;
	letter-spacing:1px;
	line-height:45px;
	text-align:center;
}

#home .surprise-text {
	margin-top: 19px;
	font-size: 16px;
	line-height: 17px;
	text-align:center;
}

#home form {
	margin: 26px auto 0px auto;
	background: #FFFFFF;
	width: 600px;
	height: 38px;
}

#home form .email {
	position: relative;
	font-size: 14px;
	width: 450px;
	padding: 0px 0px 0px 11px;
	border: 1px solid #D6D7D8;
	border-radius: 2px;
	height: 38px;
	margin-bottom: 0px;
	box-shadow: none;
	border-top-right-radius: 0px;
	border-bottom-right-radius:0px;
	z-index : 1;
}

#home form .submit {
	position: absolute;
	z-index: 2;
	background: #009FD8;
	width: 139px;
	height: 38px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	border: none;
	border-top-left-radius: 0px;
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	border-bottom-left-radius:0px;
	box-shadow: none;
}

#home form .submit:hover {
	background: #3DB6E1;
}

#home .social-footer {
	margin: 316px auto auto auto;
	text-align: center;
}

#home .social-footer .preload-instagram {
  width: 0px;
  height: 0px;
  display: inline;
  background-image: url(asset-path('home/desktop/instagram_icon(roll over).png'));
}

#home .social-footer .preload-facebook {
  width: 0px;
  height: 0px;
  display: inline;
  background-image: url(asset-path('home/desktop/facebook_icon(roll over).png'));
}

#home .social-footer .preload-twitter {
  width: 0px;
  height: 0px;
  display: inline;
  background-image: url(asset-path('home/desktop/twitter_icon(roll over).png'));
}

#home .social-footer .instagram {
	width: 39px;
	height: 38px;
	display: inline-block;
	background: transparent url(asset-path('home/desktop/instagram_icon.png')) center top no-repeat;
	background-size: 39px 38px;
}

#home .social-footer .instagram:hover {
   background-image: url(asset-path('home/desktop/instagram_icon(roll over).png'));
}

#home .social-footer .facebook {
	width: 39px;
	height: 38px;
	display: inline-block;
	background: transparent url(asset-path('home/desktop/facebook_icon.png')) center top no-repeat;
	background-size: 39px 38px;
	margin-left: 29px;
	margin-right: 30px;
}

#home .social-footer .facebook:hover {
   background-image: url(asset-path('home/desktop/facebook_icon(roll over).png'));
}

#home .social-footer .twitter {
	width: 39px;
	height: 38px;
	display: inline-block;
	background:transparent url(asset-path('home/desktop/twitter_icon.png')) center top no-repeat;
	background-size: 39px 38px;
}

#home .social-footer .twitter:hover {
	background-image: url(asset-path('home/desktop/twitter_icon(roll over).png'));
}

#home .copyright {
	margin-top: 24px;
	margin-bottom: 55px;
	font-size: 13px;
	color: #9B9B9B;
	line-height: 17px;
	text-align: center;
}

#home .copyright a {
	color: #9B9B9B;
	text-decoration: none;
}

#home .copyright a:hover {
	text-decoration: underline;
}

.policies p {
	color: #9B9B9B;
	margin-bottom: 20px;
}

.policies p a.privacy, .policies p a.conditions{
	color: #9B9B9B;
	text-decoration: none;
}
