@media only screen and (max-width: 635px) {
  #refer header {
    display: block;
    width: 100%;
    height: 84px;
    background-color: #009fd8;
  }

  #refer .mobile-logo {
    display: block;
    margin: 0 auto 0 auto;
    padding: 8px;
  }

  #refer .banner {
    width: 100%;
    height: auto;
    display: inline-block;
    background: url(asset-path('refer/mobile/banner.png')) center top no-repeat;
    background-size: 100% 100%;
  }

  #refer .first-image {
    display: none;
  }

  #refer .second-message {
    display: block;
    margin-top: 50px;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 35px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }

  #refer .third-message {
    display: block;
    margin-top: 30px;
    padding: 10px 50px 0 50px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #2B2D2E;
    line-height: 21px;
    text-align: center;
  }

  #refer .social-wrap {
    text-align: center;
    background-color: #2B2D2E;
    padding: 25px 20px 20px 20px;
    margin: 0 0 0 0;
  }

  #refer .copy-link {
    text-align: center;
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    width: 85%;
    background: #FFFFFF;
    padding: 10px 8px 0px 8px;
    border: 1px solid #D6D7D8;
    height: 28px;
    color: #4A4F54;
    border-radius: 2px;
  }

  #refer .social {
    display: none;
  }

  #refer .explanation {
    margin: 33px auto;
    font-size: 20px;
    color: #000000;
    line-height: 30px;
    text-align:center;
  }

  #refer .prizes{
    width: 100%;
    height: 580px;
    padding-bottom: 20px;
  }

  #refer .prizes .page-content{
    position: relative;
  }

  #refer .prizes .progress{
    height: 450px;
    width: 5px;
    background-color: #BCBCBC;
    background-size: 5px 1px;
    position: absolute;
    margin-left: 50%;
    top: 80px;
    z-index: 0;
  }

  #refer .prizes .progress .mover{
    position: absolute;
    top: 0;
    left: 0;
  }

  #refer .prizes .progress .mover .bar{
    background-color: #009FDD;
    width: 5px;
    height: 20px;
    margin-right: 0px;
    background-size: 5px 1px;
  }

  #refer .prizes .progress .mover .bar .droplet-mobile {
    background: url(asset-path("refer/mobile/droplet_move.png"));
    background-size: 18px 33px;
    width: 18px;
    height: 33px;
    display: inline;
    float: right;
    margin: -7px;
  }

  #refer .prize-two .progress .mover .bar{ height: 100px; }
  #refer .prize-three .progress .mover .bar{ height: 200px; }
  #refer .prize-four .progress .mover .bar{ height: 310px; }
  #refer .prize-five .progress .mover .bar{ height: 450px; }


  #refer .prizes ul.products{
    height: 100%;
    width: auto;
    margin-top: 30px;
    position: relative;
    z-index: 1;
  }

  #refer .prizes .products li.title{
    width: 100%;
    text-transform: uppercase;
    color: #009FD8;
    font-weight: 500;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  #refer .prizes .products li.title .friends{
    float: left;
    margin-left: 8%;
    letter-spacing: 2px;
    font-size:14px;
    color:#000000;
  }

  #refer .prizes .products li.title .rewards{
    float: right;
    margin: 0 13% 0 0;
    letter-spacing: 2px;
    font-size:14px;
    color:#000000;
  }

  #refer .prizes .products li.product{
    display: block;
    height: 125px;
    color: #009FD8;
    width: 100%;
    float: left;
    position: relative;
  }

  #refer .prizes .products li.product .circle{
    float: left;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #868282;
    margin-left: 20%;
    margin-top: 0px;
  }

  #refer .prizes .products li.product .sep{
    display: none;
  }

  #refer .prizes .products li.product .prize-name{
    float: right;
    margin-right: 14%;
    text-align: center;
    font-weight: 500;
    font-size:16px;
    color:#000000;
    margin-top: 0px;
  }

  #refer .prizes .products li.product:last-child{
    margin-bottom: 0;
  }

  #refer .prizes .products li.product.last{
    margin-bottom: 0;
  }

  #refer .prizes .products li.product.selected p{
    color: #009FD8 !important;
  }

  #refer .social-footer {
    width: auto;
    height: 263px;
    margin: 50px auto auto auto;
    text-align: center;
    background: url(asset-path('refer/mobile/footer.png'));
    background-size: auto auto;
  }

  #refer .social-footer .instagram {
    width: 39px;
    height: 38px;
    display: inline-block;
    background: transparent url(asset-path('refer/mobile/instagram_icon.png')) center top no-repeat;
    background-size: 39px 38px;
    margin: 100px auto auto auto;
  }

  #refer .social-footer .facebook {
    width: 39px;
    height: 38px;
    display: inline-block;
    background: transparent url(asset-path('refer/mobile/facebook_icon.png')) center top no-repeat;
    background-size: 39px 38px;
    margin-left: 29px;
    margin-right: 29px;
  }

  #refer .social-footer .twitter {
    width: 39px;
    height: 38px;
    display: inline-block;
    background:transparent url(asset-path('refer/mobile/twitter_icon.png')) center top no-repeat;
    background-size: 39px 38px;
  }

  #refer .copyright {
    margin-top: 24px;
    font-family: OpenSans-Light;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 17px;
    text-align: center;
  }
}