#refer{
  background: #FFFFFF;
  font-family: 'newsgoth';
  color: #1C1E21;
}

#refer header {
  display: none;
}

#refer .banner {
  width: 100%;
  height: auto;
  display: inline-block;
  background: url(asset-path('refer/desktop/banner.png')) center top no-repeat;
  background-size: cover;
}

#refer .first-image {
  display: block;
  margin-top: 58px;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 153px;
}

#refer .message {
  display: block;
  margin-top: 25px;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0px;
  line-height: 21px;
  text-align: center;
}

#refer .second-message {
  display: block;
  margin-top: 70px;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 2px;
  line-height: 50px;
  text-align: center;
}

#refer .third-message {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #BCBCBC;
  line-height: 21px;
  text-align: center;
}

#refer .social-wrap {
  text-align: center;
  margin: 22px auto 35px auto;
  height: 38px;
}

#refer .copy-link {
  text-align: center;
  display: inline-block;
  font-size: 14px;
  width: 458px;
  background: #FFFFFF;
  padding: 10px 8px 0px 8px;
  height: 38px;
  color: #4A4F54;
  border-radius: 2px;
}

#refer .social {
  display: inline;
  padding: 10px 8px 0px 8px;
  width: 19px;
  height: 14px;
  border-radius: 0px;
}

#refer .social .share-ma {
  margin-bottom: -14px;
  width: 38px;
  height: 38px;
  display: inline-block;
  background: url(asset-path('refer/desktop/email_link.png'));
  background-size: 38px 38px;
}

#refer .social .share-tw {
  margin-bottom: -14px;
  width: 38px;
  height: 38px;
  display: inline-block;
  background: url(asset-path('refer/desktop/twitter_link.png'));
  background-size: 38px 38px;
  margin-left: 9px;
}

#refer .social .share-fb {
  margin-bottom: -14px;
  width: 38px;
  height: 38px;
  display: inline-block;
  background: url(asset-path('refer/desktop/facebook_link.png'));
  background-size: 38px 38px;
  margin-left: 9px;
}

#refer .explanation {
  margin: 33px;
  font-size: 20px;
  color: #000000;
  line-height: 30px;
  text-align:center;
}

#refer .prizes{
  width: 100%;
  padding-bottom: 100px;
}

#refer .prizes .page-content{
  position: relative;
}

#refer .prizes .progress{
  margin-top: 27px;
  height: 5px;
  background-color: #BCBCBC;
  background-size: 1px 4px;
  position: absolute;
  top: 100px;
  z-index: 0;
}

#refer .prizes .progress .mover{
  position: absolute;
  top: 0;
  left: 0;
}

#refer .prizes .progress .mover .bar{
  height: 5px;
  background-color: #009FDD;
  width: 150px;
  margin-right: 0px;
  background-size: 1px 4px;
}

#refer .prizes .progress .mover .bar .droplet-desktop {
  background: url(asset-path("refer/desktop/droplet_move.png"));
  background-size: 33px 18px;
  width: 33px;
  height: 18px;
  display: inline;
  float: right;
  margin: -7px;
}

#refer .prize-two .progress .mover .bar{}
#refer .prize-three .progress .mover .bar{}
#refer .prize-four .progress .mover .bar{}
#refer .prize-five .progress .mover .bar{}


#refer .prizes ul.products{
  height: 105px;
  width: 100%;
  margin-top: 45px;
  position: relative;
  z-index: 1;
}

#refer .prizes .products li.title{
  height: 100%;
  text-transform: uppercase;
  color: #009FD8;
  font-weight: 500;
  font-size: 14px;
  float: left;
  width: 165px;
  font-weight: bold;
}

#refer .prizes .products li.title .friends{
  letter-spacing: 2px;
  font-size:14px;
  color:#000000;
}

#refer .prizes .products li.title .rewards{
  margin-top: 80px;
  letter-spacing: 2px;
  font-size:14px;
  color:#000000;
}

#refer .prizes .products li.product{
  height: 100%;
  color: #009FD8;
  width: 19%;
  float: left;
  position: relative;
}

#refer .prizes .products li.product .circle{
  height: 30px;
  width: 30px;
  text-align: center;
  color: #868282;
  margin: 0 auto;
}

#refer .prizes .products li.product .sep{
  width: 12px;
  height: 2px;
  background: transparent;
  margin: 13px auto 13px;
}

#refer .prizes .products li.product .prize-name{
  margin-top: 54px;
  text-align: center;
  font-weight: 500;
  font-size:16px;
  color:#000000;
}

#refer .prizes .products li.product:last-child{
  margin-right: 0;
}

#refer .prizes .products li.product.last{
  margin-right: 0;
}

#refer .prizes .products li.product.selected p{
  color: #009FD8 !important;
}

#refer .social-footer {
  margin: 94px auto auto auto;
  text-align: center;
}

#refer .social-footer .preload-instagram {
  width: 0px;
  height: 0px;
  display: inline;
  background-image: url(asset-path('refer/desktop/instagram_icon(roll over).png'));
}

#refer .social-footer .preload-facebook {
  width: 0px;
  height: 0px;
  display: inline;
  background-image: url(asset-path('refer/desktop/facebook_icon(roll over).png'));
}

#refer .social-footer .preload-twitter {
  width: 0px;
  height: 0px;
  display: inline;
  background-image: url(asset-path('refer/desktop/twitter_icon(roll over).png'));
}

#refer .social-footer .instagram {
  width: 39px;
  height: 38px;
  display: inline-block;
  background: transparent url(asset-path('refer/desktop/instagram_icon.png')) center top no-repeat;
  background-size: 39px 38px;
}

#refer .social-footer .instagram:hover {
   background-image: url(asset-path('refer/desktop/instagram_icon(roll over).png'));
}

#refer .social-footer .facebook {
  width: 39px;
  height: 38px;
  display: inline-block;
  background: transparent url(asset-path('refer/desktop/facebook_icon.png')) center top no-repeat;
  background-size: 39px 38px;
  margin-left: 29px;
  margin-right: 29px;
}

#refer .social-footer .facebook:hover {
   background-image: url(asset-path('refer/desktop/facebook_icon(roll over).png'));
}

#refer .social-footer .twitter {
  width: 39px;
  height: 38px;
  display: inline-block;
  background:transparent url(asset-path('refer/desktop/twitter_icon.png')) center top no-repeat;
  background-size: 39px 38px;
}

#refer .social-footer .twitter:hover {
  background-image: url(asset-path('refer/desktop/twitter_icon(roll over).png'));
}

#refer .copyright {
  margin-top: 24px;
  margin-bottom: 50px;
  font-size: 12px;
  color: #9B9B9B;
  line-height: 17px;
  text-align: center;
}

#refer .copyright a {
  color: #9B9B9B;
  text-decoration: none;
}

#refer .copyright a:hover {
  text-decoration: underline;
}