<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
        <title>The Organic Lube | Good Clean Loving</title>
        <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
        <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

        <meta property="og:title" content="Good clean loving. No nasty chemicals."/>
        <meta property="og:description" content="Psst! Spread the word - Share and you shall receive! Slide on in, sign up and receive a free sample pack. No parabens, no glycerin, only natural ingredients for your natural parts!"/>
        <meta property="og:image" content="<%= asset_path("fb.jpg") %>"/>
        <meta property="og:url" content="<%= root_url %>"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>">

<%= yield %>

</body>
</html>
