doctype html
html
  head
    meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"
    meta name="description" content=""
    meta name="author" content=""

    title OrganicLube

    = stylesheet_link_tag "application", :media => "all"
    // Bootstrap Core CSS
    link href="https://buttercms.com/static/demoblog/css/bootstrap.min.css" rel="stylesheet"
    // Custom CSS
    link href="https://buttercms.com/static/demoblog/css/clean-blog.min.css" rel="stylesheet"
    // Custom Fonts
    link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"
    link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css"
    link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css"

    script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"
    script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"
    
  body.blog-page
    .container-fluid
      .row.content-body
        .topbar
          .col-xs-2.app-logo
            a href="#{root_url}blog" class='logo'
          .contacts
            a href="#{root_url}"
              span.free-condom BUY LUBE
            span.about ABOUT
            span.contact CONTACT
        .col-xs-12.blogs
          = yield
  footer
    .social-footer.text-center
      a href="https://www.instagram.com/theorganiclubeco/" class="instagram" target='_blank'
        img src=asset_path('home/desktop/instagram_icon(roll over).png')
      a href="https://www.facebook.com/The-Organic-Lube-Company-520548948017982/?fref=ts" class="facebook" target='_blank'
        img src=asset_path('home/desktop/facebook_icon(roll over).png')
      a href="https://twitter.com/organiclubeco" class="twitter" target='_blank'
        img src=asset_path('home/desktop/twitter_icon(roll over).png')
      .copyright
        p
          | Made with ♥ in Bondi by&nbsp
          a href="http://www.bigrichard.co"
            | Big Richard.
          | &copy; Copyright 2015 organiclube.co
      .policies
        a href="/privacy-policy" class='privacy'
          | Privacy&nbsp
        | |
        a href="/terms-and-conditions" class='conditions'
          | &nbspTerms
